.tab-menu {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #eee;
    will-change: border-bottom;
    list-style: none;
    margin-top: 2rem;
    overflow-x: auto;
}

.tab-menu.dark {
    border-color: #eee;
}

.tab-item {
    color: var(--text-color);
    font-size: 1.2rem;
    padding: .5rem;
    text-transform: capitalize;
    font-weight: 600;
    font-family: var(--heading);
    opacity: .5;
}

.tab-item.active {
    opacity: 1;
    border-bottom: 2px solid var(--text-color);
}

.tab-item:active {
    transform: scale3d(0.95, 0.95, 0.95);
}

.tab-item:not(:last-of-type) {
    margin-right: .5rem;
}

.tab-items-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

@media screen and (max-width: 425px) {
    .tab-items-container { 
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

}

.experience-container {
    margin-top: 3rem;
    gap: 1.5rem;
}

.tab-menu-item {
    padding: 1.2rem 2rem;
    border-radius: var(--border-radius);
    color: var(--text-color);
    text-transform: capitalize;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    transition: transform .4s ease-in-out;
    font-size: 1rem;
    border: 1px solid #eee;
}

.tab-menu-item:last-of-type {
    max-width: 320px;
}

.dark .filter-img > img {
    filter: invert();
}

@media screen and (max-width: 582px){
    .tab-menu-item:last-of-type {
        max-width: unset;
    }
}

@media screen and (max-width: 425px) {   
    .tab-menu-item {
        flex: 1;
        min-width: 100%;
    }   
}

.tab-menu-item:hover {
    transform: scale3d(1.01, 1.01, 1.01);
}

.item-img {
    height: 30px;
    object-fit: contain;
    margin-right: 1rem;
}

.item-title {
    flex: 1;
}